.mainContent {
    /* height: 100%; */
}

#searchTitle {
    margin-bottom: 40px;
}

#searchContent {
    margin-bottom: 40px;
}



.titleContainer {

    float: left;
    width: 400px;
    text-align: left;

}

/* style for the contents within each course section */
.courseNum {
    float: left;
    
    width: 200px;
    /* height: 500px; */
	/* margin-left: 10%; */
	/* margin-right: 10%; */
}

.titleImg {
    /* float: right; */
    margin-right: 1000px;


}

.peopleIcon {
    width: 30px;

}

.description {
    text-align: left;
    margin-left: 200px;
    width: 500px;
    min-height: 100px;
}

.requestBtn {
    /* float: right; */
    width:160px;
    margin: 5px;

    /* margin-right: 20px; */
    /* margin-left: 500px; */

}

.viewBtn {
    /* float: right; */
    width:160px;
    margin: 5px;

    /* margin-right: 20px; */
    /* margin-left: 500px; */

}

.btnContainer {
    float: right;
    /* height: 50px; */
    width:180px;
    

}


.profileIcon {
    width: 50px;
    margin-bottom: 5px;
}

.result {
    margin-bottom: 20px;
    /* height: 100% */
}

.green {
    color: #00FF09;
}

.red {
    color: red;
}

.greenIcon {
    width: 25px;
    float:left;
}