<!DOCTYPE html>
<html>

<head>
    <title>Search result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/inbox.css">
    <link rel="stylesheet" href="styles/search_result.css">
    <link rel="stylesheet" href="styles/common.css">

</head>

<body class='overflow-hidden  my-bg'>
    <!-- Navbar from bootstrap docs -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light my-nav">
        <a href="index.html"><img src="./images/logo/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
                <a class="nav-item nav-link active" href="#">Find</a>
                <a class="nav-item nav-link" href="/projects">Projects</a>
                <a class="nav-item nav-link" href="/invitation">Invitation</a>
            </div>
        </div>
    </nav>

    <!--actual page content-->
    <!--First three divs are for floating card visual effect-->

<!-- 
            <div class="special-vertical-center mt-5">
                    <div class="h-100 row align-items-center justify-content-center">
                      <div id="content" class="shadow-lg p-5 mb-5 bg-white rounded col-lg-10 mt-5"> -->
                            <!-- style="overflow-y: auto" -->
                            <!-- d-flex flex-column -->
    
    <div class="vertical-center pt-5 mainContent">
        <div class="h-100 row align-items-center justify-content-center" >
            <div class=" shadow-lg p-5 mb-5 bg-white rounded col-lg-10 mt-5" id='invitation-list'>
                   
                    <p>
                     
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              Button with data-target
                            </button>
                          </p>
                          <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                            </div>
                    <!-- <h3 class = "searchTitle">
                        Search result for "CSC108" "A3"
                    </h3>

                    <form class="message rounded bg-light p-3 shadow-sm result">
                            
                        <a class="courseNum ">
                            <span class="courseNum">
                            <h4>CSC108 A3</h4> <img class="peopleIcon" src="images/logo/people.png"> : 2
                            </span>
                        </a>
                        
                        <div class="btnContainer">
                                <button id="request" class="btn btn-primary text-white requestBtn" > Request to Join</button>
                                <button id="view" class="btn btn-danger text-white requestBtn"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseExample">View Teammates</button>
                        </div>

                     
                        <div class="description"><h5>Group Description</h5><p>Spicy jalapeno bacon ipsum dolor amet leberkas meatball 
                            beef strip steak doner prosciutto. Porchetta corned beef ball tip beef 
                            ribs spare ribs pork belly. Turducken alcatra short ribs shankle bacon meatball ground. </p>
                        </div>

                        
                        
                        <div id="" class=" row text-center rounded project-list-container memberInfoContainer">
                            <div class="member col-md-3 col-sm-6">
                                <div class="thumbnail bg-white m-2 rounded">
                                    <img class="profileIcon" src="images/logo/profile.png">
                                    <div>
                                        <span><h5>cat123</h5></span>
                                        <span class="btn btn-danger text-white profileBtn">View Profile</span>
                                    </div>
                                </div>
                            </div>

                            <div class="member col-md-3 col-sm-6">
                                <div class="thumbnail bg-white m-2 rounded">
                                    <img class="profileIcon" src="images/logo/profile.png">
                                    <div>
                                        <span><h5>cat456</h5></span>
                                        <span class="btn btn-danger text-white profileBtn">View Profile</span>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </form> -->

            

            </div>

        </div>
    </div>

   

    
    <script type="text/javascript" src="scripts/inbox.js"></script>
</body>



