<!DOCTYPE html>
<html lang="en">
 <head>
 	<meta charset="utf-8">
    <title>Matchy - Finish Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/finish_project.css">
    
 </head>
 <body class="my-bg">
  <!-- Navbar from bootstrap docs -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light my-nav-flow">
      <a href="index.html"><img src="./images/logo/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
          <a class="nav-item nav-link" href="/find">Find</a>
          <a class="nav-item nav-link active" href="/projects">Projects</a>
          <a class="nav-item nav-link" href="/invitation">Invitation</a>
        </div>
      </div>
    </nav>

  <!-- div for the main content: input form -->
  <div class="input_form col-md-4 pt-5 mt-5">
      <form>
        <h3 class="text-white">
          Please rate your teammates
        </h3>

        <!-- rate form for the first teammate -->
        <div class="ratePerson rounded shadow pb-2 mb-4">

          <div class="matePicContainer">
            <img class='matePic' src="images/cat.jpg" alt="icon">
          </div>

          <div class="mateContent">
            <h4 class="textContent">Cat123 <span class="grey">cat@utoronto.ca</span> </h4>
            
            <div class="form-group">
                <label for="min_rating"><h6>Please give a score between 1 and 5</h6></label>
                <input class="form-control-range min_rating_input" type="range" min="0" max="5" step="1" value="0" />
                your rating: <output class="min_rating_v" for="min_rating">0</output>
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlTextarea1"><h6>Comment your teammate</h6></label>
              <textarea class="form-control message" id="exampleFormControlTextarea1" rows="3" placeholder="write a message..."></textarea>
            </div>

            <div class="form-group">
              <div class="comment">
                <input type="checkbox" class="form-check-input check" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">comment anonymously</label>
              </div>
            </div>
          </div>
              
        </div>

        <!-- rate form for the second teammate -->
        <div class="ratePerson rounded shadow pb-2 mb-4">

          <div class="matePicContainer">
            <img class='matePic' src="images/cat4.jpg" alt="icon">
          </div>

          <div class="mateContent">
            <!-- teammate info -->
            <h4 class="textContent">cat456 <span class="grey">cathsdshdi@cat.com</span> </h4>
            <!-- rate bar-->
            <div class="form-group">
              <label for="min_rating"><h6>Please give a score between 1 and 5</h6></label>
              <input class="form-control-range min_rating_input" type="range" min="0" max="5" step="1" value="0" />
              your rating: <output class="min_rating_v" for="min_rating">0</output>
            </div>
            <!-- text box -->
            <div class="form-group">
              <label for="exampleFormControlTextarea1"><h6>Comment your teammate</h6></label>
              <textarea class="form-control message" id="exampleFormControlTextarea1" rows="3" placeholder="write a message..."></textarea>
            </div>

            <div class="form-group">
              <div class="comment">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label check" for="exampleCheck1">comment anonymously</label>
              </div>
            </div>
          </div>
              
        </div>

        <!-- buttons for submit and reset -->
        <div id="buttonsContainer">
          <button type="submit" class="btn btn-primary text-white"><a class="text-white" href=""></a>Finsh</button>
          <button type="reset" class="btn btn-primary text-white">Clear</button>
        </div>

      </form>
    </div>
    <script src="scripts/public_data.js"></script>
    <script src="scripts/finish_project.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
  </body>
</html>